[Unit]
Description=Daemon for Kafka stream processor
Requires=zookeeper.service

[Service]
WorkingDirectory=/home/kafka/kafka_2.11-0.10.2.0/ 
ExecStart=/home/kafka/kafka_2.11-0.10.2.0/bin/kafka-server-start.sh ./config/server.properties
Restart=no
User=fred
Group=fred


[Install]
WantedBy=multi-user.target
