[Unit]
Description=Daemon for generating starting the zookeeper which handles kafka metadata

[Service]
WorkingDirectory=/home/kafka/kafka_2.11-0.10.2.0/ 
ExecStart=/home/kafka/kafka_2.11-0.10.1.0/bin/zookeeper-server-start.sh ./config/zookeeper.properties
Restart=no
User=fred
Group=fred

[Install]
WantedBy=multi-user.target
